body {
  font-family: "Arial";
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 16px 0 0;
}

input {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  height: 48px;
  width: 100%;
}

.input {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task-list, .task-btn-bar {
  width: 320px;
}

.task {
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  min-width: 200px;
  padding: 20px;
  transition: .2s;
}
  .task:hover {
    background-color: #a1ff82;
  }

  .task.completed {
    background-color: #a1ff82;
  }

.task-text, .task-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.task-button-bar {
  width: 100%;
}

.task h2, p {
  margin: 0;
}

.text-danger {
  color: #cc3131;
}

.error-component {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background-color: #fabfb9;
  color: #cc3131;
  border: 1px solid #cc3131;
  border-radius: 5px;
}