body {
    font-family: "Arial";
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

input {
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    padding: 10px;
    height: 30px;
    width: 100%;
}

.input {
    margin-bottom: 20px;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task {
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    min-width: 200px;
    padding: 20px;
    transition: .2s;
    width: 100%;
}
    .task:hover {
        background-color: #a1ff82;
    }

    .task.completed {
        background-color: #a1ff82;
    }

.task-text, .task-buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.task-button-bar {
    width: 100%;
}

.task h2, p {
    margin: 0;
}

.text-danger {
    color: #cc3131;
}